
* {
  box-sizing: border-box;
}

body{
	/*background: url('https://thumbs.dreamstime.com/z/human-resources-crm-data-mining-officer-looking-employee-represented-icon-vector-illustration-eps-56607837.jpg') no-repeat center center fixed; 	*/
	/*background-size: cover !important;*/
}

.container{

}

.jumbotron{
	background-color: #000 !important;
	color: #fff !important;
}

.panel-heading{
	background-color: #428bca !important;
	color: #fff !important;
}


#trains{
	position: relative;
	width: 100%; 
}

#trains th{
	font-weight: bold;
}

#trains tr{
	line-height: 34px;
}

#trains tr:first-child{
	border-bottom: 1px #ccc solid;
}

#submit-btn{
	background-color: #428bca !important;
	color: #fff !important;	
}