
* 
{
  box-sizing: border-box;
}

body
{
	background: url('../images/solar2.jpg') no-repeat center center fixed;
	background-size: cover !important;
}

.container
{
	opacity:0.8;
}

.jumbotron
{
	background: none !important;
	color: #fff !important;
}

.panel-heading
{
	background-color: #428bca !important;
	color: #fff !important;
}

#jumpers
{
	position: relative;
	width: 100%; 
}

#jumpers th
{
	font-weight: bold;
}

#jumpers tr
{
	line-height: 34px;
}

#jumpers tr:first-child
{
	border-bottom: 1px #ccc solid;
}

#submit-btn
{
	background-color: #428bca !important;
	color: #fff !important;	
}